<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- startupTimeLimit/requestTimeout: reduce ANCM 500.37 when cold start + Azure agent sync + Playwright install overlap -->
      <aspNetCore processPath=".\MicrohireAgentChat.exe"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout"
                  hostingModel="inprocess"
                  startupTimeLimit="600"
                  requestTimeout="00:20:00" />
    </system.webServer>
  </location>
</configuration>
