@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model QuoteAllFields
@{
    Layout = "_LayoutQuote";
    ViewData["Title"] = $"Overview";
    ViewData["HideHeader"] = true;
    ViewBag.Page = 1;

}
<div class="m-5 mt-2">
    <div class="page1-top">
        <div class="logo" style="text-align: right;">
            <img src="/images/aHfZNBPMlVa1GSUumeOAfrclJp4azvJT.png" class="img object-contain">
        </div>
        <h1>@ViewData["Name"]</h1>
    </div>
    <div class="page1-bottom">
        <div>
            <p>@Model.EventStartDate</p>
            <p>@Model.Reference</p>
        </div>
        <div style="height: 50px;">
            <img src="/images/aHfZNBPMlVa1GSUumeOAfrclJp4azvJT.png" class="img object-contain">
        </div>
    </div>
</div>
