@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    Layout = "_LayoutQuote";
    ViewData["Title"] = $"EQUIPMENT & SERVICES";
    ViewBag.Page = 3;
}
<div class="m-5 mt-2">

</div>
